@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.logo-text {
  font-family: "Pacifico", cursive;
  /* font-size: 500; */
  margin: 0 0.5rem;
  color: rgb(123, 156, 248);
}
.nav-logo-text {
  font-family: "Pacifico", cursive;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scoll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scoll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scoll-bar > :last-child {
  margin-right: 30px;
}
